// Fonts
$headingsFontFamily: 'Playfair Display', sans-serif;
$fontFamily: 'Lato', serif;

// Colors
// Green
$greenLight: #51CC5F;
$greenLighter: #44E557;
$green: #28CC3B;
$greenDark: #14CC29;
$greenDarker: #00CC17;

//Purple
$purpleLighter: #E1BEE7;
$purpleLight: #BA68C8;
$purple:  #B10DC9;
$purpleDark: #7B1FA2;
$purpleDarker: #4A148C;

// White
$offwhite: rgba(255, 255, 255, 0.8);

// Page Setup
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $fontFamily;
  background: $offwhite;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingsFontFamily;
}

// START OF STYLES
header {

}

main {
  display: flex;

  .splash {
    flex: 1;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1.5rem;
    background: linear-gradient(to bottom right, $green, $purple);
    color: $offwhite;

    &__heading {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    
  }
}

footer {

}