// Red
$redLight: #FF8C7F;
$redLighter: #FF7566;
$red: #FF5E4C;
$redDark: #FF4732;
$redDarker: #FF1900;

//Orange
$orangeLight: #FFB766;
$orangeLighter: #FFAB4C;
$orange: #F29730;
$orangeDark: #FF9319;
$orangeDarker: #FF8800;

// Yellow
$yellowLight: #FFE57F;
$yellowLighter: #FFE066;
$yellow: #FFDB4C;
$yellowDark: #FFD119;
$yellowDarker: #FFCC00;

// Green
$greenLight: #51CC5F;
$greenLighter: #44E557;
$green: #28CC3B;
$greenDark: #14CC29;
$greenDarker: #00CC17;

// Blue
$blue: #0074D9;
$blueDark: #0D47A1;


//Purple
$purpleLighter: #E1BEE7;
$purpleLight: #BA68C8;
$purple: #B10DC9;
$purpleDark: #7B1FA2;
$purpleDarker: #4A148C;

// Pink
$pink: #f04576;

//Gray
$grayLighter: #DDD;
$grayLight: #424242;
$gray: #888;
$grayDark: #AAA;
$grayDarker: #222;

// White
$white: #FFF;
$whiteDark: #F2F2F2;
$whiteDarker: #E5E5E5;

// Black
$black: #000;
$blackLight: #050505;
$blackLighter: #0A0A0A;

// Specialty Colors
$aqua: #7FDBFF;
$navy: #001F3F;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$fuchsia: #F012BE;
$maroon: #85144B;
$sepia: #f3eacb;
$offwhite: rgba(255, 255, 255, 0.8);