@use '../abstracts/mixins';
@use '../abstracts/colors';


@media screen and (min-width: 0px) {

  .dashboard {
    flex: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3rem auto;
    grid-template-areas:
      "sidebar"
      "main";

    &__sidebar {
      grid-area: sidebar;
      @include mixins.flex-layout();
      flex-direction: row;
      background-color: colors.$red;

      button {
        flex: 1;
        padding: 1rem; // justify-content: center;

        &:first-child {
          @include mixins.button-style(colors.$purple, colors.$offwhite);
        }

        &:not(:first-child) {
          @include mixins.button-style(colors.$red, colors.$offwhite);
        }

        i {
          height: 1.5rem;
          width: 1.5rem;
        }

      }
    }

    &__content {
      grid-area: main;
      padding: 1.5rem 1.5rem 0 1.5rem;
    }

    &__heading {
      @include mixins.font-style('Arial', 2.3rem, 1.5rem);
    }

    &__content-item .article__title {
      @include mixins.font-style('Times New Roman', 1.6rem, 1.5rem);
    }
  }
}

@media screen and (min-width: 768px) {
  .dashboard {
    grid-template-columns: 3rem auto;
    grid-template-areas:
      "sidebar main"
      "sidebar main";

    &__sidebar {
      flex-direction: column;

      button {
        flex: 0;
        height: 3rem;
        padding: 1rem 0;
      }
    }
  }
}